@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Administration System</h1>
    <p class="lead">Enroll Students, Manage Grades and Record</p>
    <p>
        <a href="@Url.Action("Index", "Student")" class="btn btn-primary btn-lg">See All Students &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Programmes</h2>
        <p>
          See All Programmes
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Programme")">All Programmes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>See All Modules</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Module")">All Modules &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Assessments</h2>
        <p>See All Assessments</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Assessment")">All Assessments &raquo;</a>
        </p>
    </div>
        <div class="col-md-4">
            <h2>Grades</h2>
            <p>See All Grades</p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Index", "Grade")">All Grades &raquo;</a>
            </p>
        </div>
</div>