@model IEnumerable<StudentAdministrationSystem.Models.AssessmentModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="">
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Index</title>
   </head>
	
   <body>
      <p>@Html.ActionLink("Create New", "Create")</p>
         <table class = "table">
         <tr>
            <th>
               Assessment Id
            </th>
				
            <th>
               Assessment Title
            </th>
				
            <th>
               Assessment Max Score
            </th>
            
            <th>
               Module
               </th>
				
            <th>
               Date Created
            </th>
            
            <th>
               Actions
            </th>
         </tr>
			
         @foreach (var item in Model) {
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => item.AssessmentId)
               </td>
					
               <td>
                  @Html.DisplayFor(modelItem => item.AssessmentTitle)
               </td>
					
               <td>
                  @Html.DisplayFor(modelItem => item.AssessmentMaxScore)
               </td>
               
               <td>
                   @Html.DisplayFor(modelItem => item.Module.ModuleTitle)
                  </td>
               
               <td>
                  @Html.DisplayFor(modelItem => item.CreatedDate)
                  </td>
               <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.AssessmentId }) |
                  @* @Html.ActionLink("Details", "", new { id = item.AssessmentId }) | *@
                  @Html.ActionLink("Delete", "", new { id = item.AssessmentId })
               </td>
					
            </tr>
         }
			
      </table>
   </body>
</html>


