@model StudentAdministrationSystem.Models.GradeModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Edit</title>
   </head>
	
   <body>
      @using (Html.BeginForm()){
         @Html.AntiForgeryToken()
         <div class = "form-horizontal">
            <h4>Grade</h4>
            <hr />
            @Html.ValidationSummary(
               true, "", new { @class = "text-danger" })
					
            @Html.HiddenFor(model => model.GradeId)
            @Html.HiddenFor(model => model.ModuleId)
            @Html.HiddenFor(model => model.AssessmentId)
            @Html.HiddenFor(model => model.StudentId)
				
            <div class = "form-group">
               @Html.LabelFor(
                  model => model.Mark, htmlAttributes: new{
                     @class = "control-label col-md-2" })
               <div class = "col-md-10">
                  @Html.EditorFor(model => model.Mark, new{
                     htmlAttributes = new {
                        @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Mark, "", new{
                     @class = "text-danger" })
               </div>
            </div>
            
            @* <div class = "form-group">  *@
            @*    @Html.LabelFor( *@
            @*       model => model.Student.StudentName, htmlAttributes: new{ *@
            @*          @class = "control-label col-md-2" }) *@
           	@* 						 *@
            @*    <div class="col-md-10"> *@
            @*       @Html.DropDownListFor(m=>m.StudentId, (IEnumerable<SelectListItem>)ViewBag.students,"Select one",new { @class = "form-control input-height", placeholder = "Select Grade" }) *@
            @*       @Html.ValidationMessageFor( *@
            @*          model => model.StudentId, "", new *@
            @*          { *@
            @*             @class = "text-danger" *@
            @*          }) *@
            @*    </div> *@
            @* </div> *@
            
            @* <div class = "form-group"> *@
            @*                @Html.LabelFor( *@
            @*                   model => model.Module.ModuleTitle, htmlAttributes: new{ *@
            @*                      @class = "control-label col-md-2" }) *@
            @*            							 *@
            @*                <div class="col-md-10"> *@
            @*                   @Html.DropDownListFor(m=>m.ModuleId, (IEnumerable<SelectListItem>)ViewBag.modules,"Select one",new { @class = "form-control input-height", placeholder = "Select Grade" }) *@
            @*                   @Html.ValidationMessageFor( *@
            @*                      model => model.ModuleId, "", new *@
            @*                      { *@
            @*                         @class = "text-danger" *@
            @*                      }) *@
            @*                </div> *@
            @*             </div> *@
				        @* *@
            @* <div class = "form-group"> *@
            @*    @Html.LabelFor( *@
            @*       model => model.Assessment.AssessmentTitle, htmlAttributes: new{ *@
            @*          @class = "control-label col-md-2" }) *@
							     @* *@
            @*    <div class="col-md-10"> *@
            @*       @Html.DropDownListFor(m=>m.AssessmentId, (IEnumerable<SelectListItem>)ViewBag.assessments,"Select one",new { @class = "form-control input-height", placeholder = "Select Assessment" }) *@
            @*       @Html.ValidationMessageFor( *@
            @*          model => model.AssessmentId, "", new *@
            @*          { *@
            @*             @class = "text-danger" *@
            @*          }) *@
            @*    </div> *@
            @* </div> *@
            
            <div class = "form-group">
               <div class = "col-md-offset-2 col-md-10">
                  <input type = "submit" value = "Save" class = "btn btn-default"/>
               </div>
            </div>
				
         </div>
      }
		
      <div>
         @Html.ActionLink("Back to List", "Index")
      </div>
		
   </body>
</html>
