@model IEnumerable<StudentAdministrationSystem.Models.GradeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="">
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Index</title>
   </head>
	
<body>
@* <p>@Html.ActionLink("Back To Modules", "ViewModules", new { id = Model.First().StudentId })</p> *@
<table class="table">
   <tr>
      @* <th> *@
      @*    Grade Id *@
      @* </th> *@
      <th>
         Student Name
      </th>
      <th>
         Module Name
      </th>
      <th>
               Assessment Name
            </th>
 <th>
         Mark
      </th>
      <th>
         Date Created
      </th>

      <th>
         Actions
      </th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         @* <td> *@
         @*    @Html.DisplayFor(modelItem => item.GradeId) *@
         @* </td> *@
          <td>
                      @Html.DisplayFor(modelItem => item.Student.StudentName)
                     </td>
          <td>
                     @Html.DisplayFor(modelItem => item.Module.ModuleTitle)
                  </td>
         <td>
            @Html.DisplayFor(modelItem => item.Assessment.AssessmentTitle)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Mark)
         </td>
         
         <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
         </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.GradeId, grade = item }) |
            @Html.ActionLink("Delete", "", new { id = item.GradeId })
         </td>

      </tr>
   }

</table>
</body>
</html>
