@model IEnumerable<StudentAdministrationSystem.Models.ModuleModel>

@{
    ViewBag.Title = "ViewModules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="">
<head>
    <meta name = "viewport" content = "width = device-width" />
    <title>Index</title>
</head>
	
<body>
<h4>Student @ViewBag.studentId</h4>
<table class = "table">
    <tr>
        <th>
            Module Id
        </th>
				
        <th>
            Module Title
        </th>
				
        <th>
            Module Type
        </th>

        <th>
            Actions
        </th>
    </tr>
			
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
					
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTitle)
            </td>
					
            <td>
                @Html.DisplayFor(modelItem => item.ModuleType)
            </td>
            
            <td>
                @Html.ActionLink("Add Grade", "Create", new { moduleId = item.ModuleId, studentId = ViewBag.studentId}) |
                @Html.ActionLink("View Module Result", "StudentResult", "Student",new { studentId = ViewBag.studentId, moduleId =  item.ModuleId},new{ @class = "border" })
            </td>
					
        </tr>
    }
			
</table>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      @if (TempData["Message"] != null)
      {
         <script type="text/javascript">  
                  window.onload = function () {  
                      alert("@TempData["Message"]");  
                  };  
              </script>
      }

</body>
</html>