@model StudentAdministrationSystem.Models.ProgrammeModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Create</title>
   </head>
	
   <body>
      @using (Html.BeginForm()){
         @Html.AntiForgeryToken()
         <div class = "form-horizontal">
            <h4>Programme</h4>
            <hr />
            @* @if ( TempData["Message"]  != null ) *@
            @* { *@
            @*   <p> @TempData["Message"] </p> *@
            @* } *@ 
            @Html.ValidationSummary(
               false, "", new { @class = "text-danger" })
            <div class = "form-group">
               <label class="control-label col-md-2">
                     Program Title
                  </label>
               <div class = "col-md-10">
                  @Html.TextBoxFor(m => m.ProgrammeTitle, new { @class = "form-control input-height", placeholder = "Enter Program Title" })
                  @Html.ValidationMessageFor(model => model.ProgrammeTitle, "", new{
                        @class = "text-danger" })
               </div>
            </div>
				
            <div class = "form-group">
                  <label class="control-label col-md-2">
                    Program Duration (Years)
                  </label>
               <div class="col-md-10">
                  @* @Html.DropDownListFor(m=>m.SelectedDurationsId, Model.Durations,"Select one",new { @class = "form-control input-height", placeholder = "Enter Program Years" }) *@
                  @Html.TextBoxFor(m => m.ProgrammeDuration, new { @type = "number", @class = "form-control input-height", placeholder = "Enter Program Years" })
                  @Html.ValidationMessageFor(model => model.ProgrammeDuration, "", new { @class = "text-danger" })
               </div>
            </div>
            
            <div class = "form-group">
               <div class = "col-md-offset-2 col-md-10">
                  <input type = "submit" value = "Save" class = "btn btn-default"/>
               </div>
            </div>
				
         </div>
      }
		
      <div>
         @Html.ActionLink("Back to List", "Index")
      </div>
		
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   @if (TempData["Message"] != null)
   {
      <script type="text/javascript">  
               window.onload = function () {  
                   alert("@TempData["Message"]");  
               };  
           </script>
   }
   
   
   </body>
</html>
