@model StudentAdministrationSystem.Models.StudentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Create</title>
   </head>
	
   <body>
      @using (Html.BeginForm()){
         @Html.AntiForgeryToken()
         @Html.Raw(TempData["msg"])
         <div class = "form-horizontal">
            <h4>Module</h4>
            <hr />
            @Html.ValidationSummary(
               false, "", new { @class = "text-danger" })

            <div class = "form-group">
               <label class="control-label col-md-2">
                  Student Name 
               </label>
               <div class = "col-md-10">
                  @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control input-height", placeholder = "Enter Student Name" })
                  @Html.ValidationMessageFor(model => model.StudentName, "", new{
                     @class = "text-danger" })
               </div>
            </div>
            
            <div class = "form-group">
               <label class="control-label col-md-2">
                  Student Year
               </label>
               <div class = "col-md-10">
                  @Html.TextBoxFor(m => m.StudentYear, new { @class = "form-control input-height", placeholder = "Enter Stduent Yearr" })
                  @Html.ValidationMessageFor(model => model.StudentYear, "", new{
                     @class = "text-danger" })
               </div>
            </div>
            
            <div class = "form-group">
               <label class="control-label col-md-2">
                  Program
               </label>
               <div class = "col-md-10">
                  @Html.DropDownListFor(m=>m.ProgrammeId, (IEnumerable<SelectListItem>)ViewBag.programmes,"Select one",new { @class = "form-control input-height", placeholder = "Select Program" })
                  @Html.ValidationMessageFor(model => model.ProgrammeId, "", new{ @class = "text-danger" })
               </div>
            </div>

            <div class = "form-group">
               <div class = "col-md-offset-2 col-md-10">
                  <input type = "submit" value = "Save" class = "btn btn-default"/>
               </div>
            </div>
				
         </div>
      }
		
      <div>
         @Html.ActionLink("Back to List", "Index")
      </div>
   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        @if (TempData["Message"] != null)
        {
           <script type="text/javascript">  
                    window.onload = function () {  
                        alert("@TempData["Message"]");  
                    };  
                </script>
        }

   </body>
</html>
