@model StudentAdministrationSystem.Models.StudentModel

@{
   ViewBag.Title = "Edit";
   Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Edit</title>
   </head>
	
   <body>
      @using (Html.BeginForm()){
         @Html.AntiForgeryToken()
         <div class = "form-horizontal">
            <h4>Student</h4>
            <hr />
            @Html.ValidationSummary(
               true, "", new { @class = "text-danger" })
					
            @Html.HiddenFor(model => model.StudentId)
            @Html.HiddenFor(model => model.StudentYear)
				
            <div class = "form-group">
               @Html.LabelFor(
                  model => model.StudentName, htmlAttributes: new{
                     @class = "control-label col-md-2" })
               <div class = "col-md-10">
                  @Html.EditorFor(model => model.StudentName, new{
                     htmlAttributes = new {
                        @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.StudentName, "", new{
                     @class = "text-danger" })
               </div>
            </div>
            
            @* <div class = "form-group"> *@
            @*                @Html.LabelFor( *@
            @*                   model => model.StudentYear, htmlAttributes: new{ *@
            @*                      @class = "control-label col-md-2" }) *@
            @*                <div class = "col-md-10"> *@
            @*                   @Html.EditorFor(model => model.StudentYear, new{ *@
            @*                      htmlAttributes = new { *@
            @*                         @class = "form-control" } }) *@
            @*                   @Html.ValidationMessageFor(model => model.StudentYear, "", new{ *@
            @*                         @class = "text-danger" }) *@
            @*                </div> *@
            @*             </div> *@
				
            <div class = "form-group">
               @Html.LabelFor(
                  model => model.ProgrammeId, htmlAttributes: new{
                     @class = "control-label col-md-2" })
							
               <div class="col-md-10">
                  @Html.DropDownListFor(m => m.ProgrammeId, (IEnumerable<SelectListItem>)ViewBag.programmes, new { @class = "form-control input-height", placeholder = "Enter Student Name" })
                  @Html.ValidationMessageFor(
                     model => model.ProgrammeId, "", new
                     {
                        @class = "text-danger"
                     })
               </div>
					
            </div>

            <div class = "form-group">
               <div class = "col-md-offset-2 col-md-10">
                  <input type = "submit" value = "Save" class = "btn btn-default"/>
               </div>
            </div>
				
         </div>
      }
		
      <div>
         @Html.ActionLink("Back to List", "Index")
      </div>
   
   </body>
</html>

