@model IEnumerable<StudentAdministrationSystem.Models.StudentModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="">
   <head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Index</title>
   </head>
	
   <body>
      <p>@Html.ActionLink("Create New", "Create")</p>
         <table class = "table">
         <tr>
            <th>
               Student Id
            </th>
				
            <th>
               Student Name
            </th>
				
            <th>
                Student Year
            </th>
            
            <th>
               Programme
               </th>
				
            <th>
               Date Created
            </th>
            
            <th>
               Actions
            </th>
         </tr>
			
         @foreach (var item in Model) {
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => item.StudentId)
               </td>
					
               <td>
                  @Html.DisplayFor(modelItem => item.StudentName)
               </td>
					
               <td>
                  @Html.DisplayFor(modelItem => item.StudentYear)
               </td>
               
               <td>
                   @Html.DisplayFor(modelItem => item.Programme.ProgrammeTitle)
                  </td>
               
               <td>
                  @Html.DisplayFor(modelItem => item.CreatedDate)
                  </td>
               <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                  @Html.ActionLink("Delete", "", "Student",new { id = item.StudentId }, new{ @class = "border" }) |
                  @Html.ActionLink("Select Modules", "SelectModules", new { studentId = item.StudentId }) |
                  @Html.ActionLink("Add Grade", "ViewModules","Grade" ,new { id = item.StudentId }, new{ @class = "border" }) |
                  @Html.ActionLink("View Result", "", new { id = item.StudentId })
               </td>
					
            </tr>
         }
			
      </table>
   </body>
</html>

